@media screen and (min-width: 320px) {
  .header {
    background-image: url(../images/header/header-mobile1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-mobile2x.jpg);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0 44px 0;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 54px;
    }

    &__logo {
      display: flex;
      align-items: center;
    }

    &__logo-icon {
      width: 24px;
      height: 24px;
    }

    &__logo-text {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item + &__item {
      margin-left: 40px;
    }

    &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      text-transform: uppercase;
      color: #ffffff;
    }

    &__link--current {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ff001b;
      }
    }

    &__center {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }

    &__form {
      position: relative;
    }

    &__form input {
      border: none;
      background-color: transparent;
      width: 280px;
      border-bottom: 0.5px solid #ffffff;
      padding: 4px 16px 4px 0;
      font-weight: 400;
      line-height: 1.14;
      color: #ffffff;

      &::placeholder {
        font-weight: 400;
        line-height: 1.14;
        color: #ffffff;
      }

      &:focus {
        outline: none !important;
      }
    }

    &__form-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
    }

    &__text-error {
      font-weight: 400;
      line-height: 1.14;
      color: #ff001b;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/header/header-tablet1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-tablet2x.jpg);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__top {
      margin-bottom: 46px;
    }

    &__logo-icon {
      margin-right: 8px;
    }

    &__logo-text {
      display: block;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.16;
      color: #ffffff;
    }

    &__center {
      margin-bottom: 20px;
    }

    &__form input {
      width: 336px;
    }

    &__text-error {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/header/header-desctop1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-desctop2x.jpg);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__form input {
      width: 394px;
    }
  }
}
//breakpoints
$breakpoints: (
  'mobile': (
    min-width: 320px,
  ),
  'tablet': (
    min-width: 768px,
  ),
  'desktop': (
    min-width: 1280px,
  ),
) !default;
//reset
* {
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//container
.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
.header__search-error {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  text-align: left;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
.header__search-error.is-hidden {
  display: none;
}
