.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #00000051, $alpha: 0.6);
    z-index: 5;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    .loader {
        width: 75px;
        height: 75px;
        border: 10px solid white;
        border-radius: 50%;
        border-top-color: #ff6b01;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: spiner 2s infinite linear;
    }
}
.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spiner {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    } to {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}