<div class="team-modal-wraper">
    <div class="team-modal">
        <h2 class="team__title">Our team</h2>        
        <ul class="team__list">
            <li class="team__element team__element--main">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                <p class="teammate__role">Team-lead</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>     
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role">Scrum-master</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>     
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name">Artem Horiuk</h3>
                <p class="teammate__role">developer</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>    
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name">Anatoliy Tymoshenko</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>    
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>     
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>      
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>       
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>    
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>    
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>      
                </ul>
            </li>
            <li class="team__element">
                <svg class="team__icon">
                    <use href="./images/sprite.svg#profilecat"></use>
                </svg>
                <h3 class="teammate__name"></h3>
                
                <p class="teammate__role"></p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">Email: anatoliy.tymoshenko.work@gmail.com</li>    
                </ul>
            </li>
        </ul>
    </div>
</div>